*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background:lightblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  

.content {
    flex: 1 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header img {
    padding: 2px 2px 2px 2px ;
    align-items: center;
  }

/*Navigation color*/
.navbar{
    background:#213159;
}

.nav-logo {
    color: lightblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 5px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 5px 15px;
}

.navbar ul li a{
    color: lightblue;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-item.active a, a.active, a:hover {
    color: #e7e7ee !important;
    transition: .5s;
}

.header img {
    height: 60px;
    width: 70px;
    padding: 5px 5px 10px 15px ;
    vertical-align: middle; /* Align the image vertically with the logo */
  }

/* Hamburger style*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: lightblue;
}

.active .bar {
    background-color: #e7e7e7 ;
  }

footer {
    background-color: #213159;
    color: lightblue;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 12px;;
}

footer a{
    color: lightcyan;
}

footer a:hover {
    background-color: #000 ;
  }
footer h6{
    margin-top: 2px;
    opacity: 60%;
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #30608b;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        transform: translateY(-100%); /* Move the menu off-screen initially */
        opacity: 0; /* Hide the menu initially */
        z-index: 999; /* Ensure the menu appears above other elements */
      }
    
      .nav-menu.active {
        transform: translateY(0%); /* Move the menu down to visible position */
        opacity: 1; /* Show the menu */
      }
    
      .nav-item {
        margin: 2.5rem 0;
      }
    
      .navbar ul li{
        line-height: 55px;
    }
      .hamburger {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
        z-index: 1000; /* Ensure the hamburger appears above other elements */
      }
  }

